*{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.mapWrapper{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "map sidebar";
    grid-template-columns: auto 300px;
}

.search-popup{
    position: absolute;
    background-color: white;
    height: 500px;
    width: 95%;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
    padding: 25px;
}

.search-popup-header{
    margin-bottom: 20px;
    width: 100%;
    height: 80px;
}

.search-close{
    top: 25px !important;
    right: 25px !important;
}

.search-title{
    position: absolute;
    top: 25px;
    left: 25px;
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    height: 80px;
}

.searchbar-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searchbar{
    height: 40px;
    width: 300px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
}

.searchbar-button{
    cursor: pointer;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: none;
    border: none;

}

.searchbar-wrapper img{
    height: 20px;
    width: 20px;
}

#search-results-count{
    margin-top: 5px;
    font-size: 14px;
    float: right;
}

.create-popup{
    height: fit-content;
    width: 300px;
}

.create-popup-header{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100px;
    padding: 15px;
}

.create-popup-body{
    padding: 15px;
}

.create-error{
    color: red;
    font-size: 14px;
    text-align: center;
    visibility: hidden;
    margin: 0;
}

.create-save{
    width: 100% !important;
    height: 40px !important;
    border-radius: 25px !important;
    margin-top: 20px;
    margin-bottom: 15px;
}

.popup{
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.overlay{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay.is-visible{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.overlay-wrapper{
    height: 100%;
    width: 100%;
}

.confirmation-popup{
    position: absolute;
    height: 190px;
    width: 340px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
        "desc desc"
        "ok cancel";
    grid-template-rows: 72% 28%;
    grid-template-columns: 1fr 1fr;
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.popup-desc{
    grid-area: desc;
    color: grey;
    font-size: 15px;
    margin-bottom: 0;
    line-height: 100%;
    text-align: center;
    padding: 10px;
    padding-top: 15%;
}

.popup-action{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popup-ok{
    grid-area: ok;
    background-color: rgb(255, 106, 73);
    border-radius: 0 0 0 5px;
}

.popup-cancel{
    grid-area: cancel;
    background-color: #C5CCD7;
    border-radius: 0 0 5px 0;
}

#moveMarkerHelp{
    display: none;
}

.instruction-box{
    position: absolute;
    z-index: 2;
    background-color: white;
    top: 20px;
    left: 20px;
    width: 300px;
    min-height:80px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
    padding: 10px 20px 10px 10px;
    box-sizing: border-box;
}

.instruction-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.instruction-box img{
    height: 20px;
    width: 20px;
    margin: 20px;
}

.instruction-desc-headline{
    font-weight: bold;
}

.instruction-desc p{
    font-size: 12px;
}

#map {
    height: 100vh;
    max-height: 100vh;
    cursor: pointer;
    grid-area: 'map';
}

.sidebar{
    grid-area: 'sidebar';
    height: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.search-button-wrapper{
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button{
    width: fit-content !important;
    border-radius: 16px !important;
    padding: 0 20px 0 20px;
}

.sidebar-divider{
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.ov{
    height: fit-content;
    width: 100%;
    max-width: 100%;
}

#ov-overlay{
    height: 483px;
    width: 300px;
    position: absolute;
    display: block;
    z-index: 1;
    background-color: rgb(250, 250, 250);
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.ov-header{
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px;
    min-height: 115px;
}

#ov-close{
    top: 85px;
}

.close-button{
    top: 15px;
    right: 15px;
    position: absolute;
}

.ov-footer{
    height: fit-content;
    width: 100%;
    overflow: auto;
}

.ov-footer-button{
    float: right;
    margin-left: 10px;
}

.ov-button{
    height: 32px;
    width: 32px;
    background-color: rgb(76, 149, 233);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.ov-button img{
    height: 12px;
    width: 12px;
    fill: white;
}

#ov-id{
    margin-top: 0;
    font-size: 43px;
    color: rgb(66, 67, 67);
    margin-bottom: 10px;
    font-weight: bold;
}

#ov-id::before{
    content: '#';
}

#ov-name{
    margin: 0;
    font-size: 22px;
    color: rgb(59,59,59);
    font-weight: 200;
    max-width: 100%;
}

.ov-body{
    padding: 15px;
    height: 338px;
    box-sizing: border-box;
}

.ov-wrapper{
    margin-bottom: 15px;
}

.ov-label{
    font-size: 12px;
    color: rgb(59,59,59);
    font-weight: bold;
    margin: 0;
}

.ov-edit{
    margin: 0;
    display: none;
}

.ov-value{
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgb(59,59,59);
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin: 0;
    border: none;
    white-space: nowrap;
    overflow: scroll;
    padding: 0 5px 0 5px;
    box-sizing: border-box;
}

.ov-dirPath{
    cursor: pointer;
}

#ov-categoryId{
    display: none;
}

.ov-margin{
    margin-bottom: 15px;
}

.ov-action{
    height: 30px;
    color: white;
    font-size: 15px;
    padding: 0 10px 0 10px;
    border: none;
    border-radius: 10px;
    float: right;
    display: none;
    margin-left: 10px;
}

.ov-save{
    background-color: rgb(113, 199, 8);
}

.ov-cancel{
    background-color: grey;
}

#filters{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.filter{
    height: 40px;
    background-color: white;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 1px;
    cursor: pointer;
}

.filter:hover{
    background-color: rgba(0, 0, 0, 0.05)
}

.filter-active{
    background-color: aliceblue;
}

.markerIconWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.markerIcon{
    height: 25px;
    width: 25px;
}

.markerDesc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}