html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mapWrapper{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "map sidebar";
    grid-template-columns: auto 300px;
}

#map {
    height: 100%;
    cursor: pointer;
    grid-area: 'map';
}

.sidebar{
    grid-area: 'sidebar';
    height: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 3px 3px 5px 6px #ccc;
}